/* Estilos dos quadros de indicadores */

.card-hover {
  transition: all 0.25s ease-in-out;
  border-radius: 14px;
  cursor: pointer;
}

/* efeito ao passar o mouse */
.card-hover:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

/* variações de cor no hover */
.card-hover.total:hover {
  background-color: rgba(13, 110, 253, 0.08); /* azul claro */
}

.card-hover.success:hover {
  background-color: rgba(25, 135, 84, 0.10); /* verde claro */
}

.card-hover.danger:hover {
  background-color: rgba(220, 53, 69, 0.10); /* vermelho claro */
}

.card-hover.warning:hover {
  background-color: rgba(255, 193, 7, 0.15); /* amarelo claro */
}


body{
    background-color: #eee;
}