.container{
    width: 100%;
    height: 350px;
    display: block;
    justify-content: space-between;
    background-color: #120d0d;
    flex-direction: column;
    margin: 16px 0;

    img{
        height: 350px;
        width: 350px;
        align-items: top;
        align-items: left;
        justify-content: space-between;
        gap: 16px;
        
    }
   
}
