.custom-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: 0 !important;
}

.link-hover:hover {
  color: #FFD700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.offcanvas-body a {
  font-weight: 500;
  font-size: 1rem;
}
